<div class="modal" [class.show]="mostrar" *ngIf="mostrar">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <span class="material-symbols-outlined icon-error">error</span>
          <span class="title-text">{{ titulo }}</span>
        </h5>
        <button type="button" class="btn-close" (click)="onCancelar()"></button>
      </div>
      <div class="modal-body">
        <p>{{ mensagem }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCancelar()">
          {{ textoBotaoCancelar }}
        </button>
        <button type="button" class="btn btn-primary" (click)="onConfirmar()">
          {{ textoBotaoConfirmar }}
        </button>
      </div>
    </div>
  </div>
</div>