.enviar-button {
  margin-top: 1rem;
}

.frase-esquecimento {
  margin-bottom: 2rem !important;
}

.cc-forgot-password-page-icon-content {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  margin: 3.125rem auto 3.125rem auto;
}

.cc-forgot-password-page-icon {
  width: 100%;
  box-sizing: border-box;
}

.cc-forgot-password-page-text {
  font-size: 1.5rem;
  line-height: 1.875rem;
  text-align: center;
  color: var(--ccDarkBlue);
  text-align: center;
}
