.cc-main-container {
  padding: 1.25rem;
  padding-bottom: 60px;
}

.cc-home-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.back-button {
  background: none;
  border: 1px solid;
  border-radius: 520%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.logo {
  height: 30px;
  margin-left: auto;
}

.cc-main-container h1 {
  color: var(--ccOrange);
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-left: auto;
}

.custom-input {
  position: relative;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  pointer-events: none;
  cursor: pointer;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.product-image-container {
  width: 100%;
  position: relative;
  padding-top: 100%;
}

.product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 13px;
  margin-bottom: 5px 0 0 0;
  cursor: pointer;
}

.product-info {
  width: 100%;
}

.preco {
  color: var(--ccOrange);
  font-size: 1.125rem;
  font-weight: bold;
  display: flex;
  line-height: 1.75rem;
  align-items: baseline;
  margin: 0.625rem 0;
  justify-content: space-between;
}

.seller {
  color: var(--ccBlack);
  font-size: 0.75rem;
  font-weight: 500;
}

.product-info p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.separator {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid var(--ccOrange);
  box-shadow: 0 0 10px var(--ccOrange);
  margin-top: -5px;
}

.custom-input {
  display: flex;
}
