<main class="cc-main-container">
  <div class="header">
    <h1>home</h1>
    <img src="/assets/img/logo_menor.png" alt="Logo_menor" class="logo" />
  </div>

  <section class="cc-search-input">
    <form>
      <mat-form-field appearance="outline" class="custom-input">
        <mat-label>busque...</mat-label>
        <input matInput type="text" id="nome" />
        <span class="material-symbols-outlined search-icon"> search </span>
      </mat-form-field>
    </form>
  </section>

  <div *ngIf="isLoading" class="cc-home-loader">
    <p>carregando anúncios...</p>
    <mat-spinner *ngIf="isLoading" class="cc-spinner"></mat-spinner>
  </div>

  <ng-container *ngIf="!isLoading">
    <ng-container *ngFor="let ads of adsList">
      <div class="product">
        <div class="product-image-container">
          <img
            src="{{ ads.fileUrl }}"
            alt="{{ ads.title }}"
            class="product-image"
            routerLink="/anuncios/{{ ads.id }}"
          />
        </div>
        <div class="product-info">
          <h2 class="preco">
            {{ formatPrice(ads.price) }}
            <span class="seller">
              atualizado {{ ads.updateAt | date : "dd/MM/yyyy" }}</span
            >
          </h2>
          <p>
            {{ ads.title }}
          </p>
        </div>
      </div>
      <div class="separator"></div>
    </ng-container>
  </ng-container>
  <app-menu></app-menu>
</main>
