<main class="meu-anuncio-container">
  <app-header title="meus anúncios" [link]="'/home'"></app-header>
  <button class="cc-primary-button btn-novo-anuncio" mat-flat-button routerLink="/meus-anuncios/novo">
    <span class="material-symbols-outlined">add_circle</span>
  </button>

  <div *ngIf="isLoading" class="cc-ads-loader">
    carregando anúncios...
    <mat-spinner class="cc-spinner"></mat-spinner>
  </div>

  <div *ngIf="!isLoading && userAds.length === 0" class="no-ads">
    Você ainda não possui anúncios cadastrados.
  </div>

  <ng-container *ngIf="!isLoading && userAds.length > 0">
    <ng-container *ngFor="let ad of userAds">
      <div class="anuncio-card">
        <img [src]="ad.fileUrl || 'assets/img/placeholder.png'" [alt]="ad.title" class="anuncio-image"
          [routerLink]="['/anuncios', ad.id]" />
        <div class="anuncio-details">
          <h3 class="anuncio-name">
            {{ ad.title }}
          </h3>
          <h4 class="anuncio-price">R$ {{ ad.price }}</h4>
          <span class="anuncio-status" [class.active]="ad.status === 'ativo'" [class.inactive]="ad.status !== 'ativo'">
            {{ ad.status === 'ativo' ? 'ativo' : 'inativo' }}
          </span>
          <button class="edit-button" [routerLink]="['/meus-anuncios', ad.id]">
            <span class="material-icons">edit</span>
          </button>
        </div>
      </div>
      <div class="separator"></div>
    </ng-container>
  </ng-container>

  <app-menu></app-menu>
</main>