.cc-main-container {
  margin-bottom: 50px;
  text-align: center;
  padding: 1.25rem;
  padding-bottom: 60px;
}

.custom-input {
  margin-bottom: 0.5rem;
}

.outline mat-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.custom-input {
  flex: 1;
}

.cc-mat-icon-cost {
  margin-right: 0.625rem;
}

mat-spinner.cc-spinner {
  margin-top: 1.25rem;
}

.cc-my-ads-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-image {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 13px;
  margin-bottom: 20px;
}

.excluir-anuncio-button {
  display: flex;
  align-items: center;
  color: red;
  font-size: 1rem;
}

.excluir-anuncio-button .material-symbols-outlined {
  margin-left: 3px;
  font-size: 1.55rem;
  transform: translateY(5px);
}

.excluir-anuncio-button {
  margin-top: 1.5rem;
}

.cc-form-upload-file-field-container {
  margin-bottom: 1.25rem;
}

.btn-criar-anuncio {
  margin-top: 1.25rem;
}
