<main class="anuncio-container">

  <div class="header" style="position: relative;">
    <button class="back-button fixed" aria-label="Voltar" [routerLink]="'/home'">
      <mat-icon>arrow_back</mat-icon>
      <div class="spacer"></div>
      <div class="spacer"></div>
    </button>
    <img src="assets/img/ps5.png" alt="PlayStation 5" class="anuncio-image" />
  </div>

  <div class="anuncio-card">
    <h2 class="anuncio-title">PlayStation 5 mídia física Usado - Console Sony com 825GB SSD 2 controles e 2 jogos</h2>
    <h2 class="anuncio-price">R$ 2500 <span class="anuncio-seller">Alexandre</span></h2>
    <h3 class="anuncio-title-description">Descrição</h3>
    <p class="anuncio-description">
      O iPhone 14 Pro Max 256GB combina desempenho excepcional com um design sofisticado. Equipado com o poderoso chip A16 Bionic, tela Super Retina XDR de 6,7” com tecnologia ProMotion e Dynamic Island, oferece uma experiência fluida e imersiva. Sua câmera tripla de 48MP captura fotos e vídeos incríveis, mesmo em baixa luz, enquanto a bateria de longa duração garante mais tempo de uso. Com acabamento premium e resistência à água e poeira, é a escolha perfeita para quem busca inovação, velocidade e qualidade incomparável. 
    </p>

    <button class="cc-secondary-button acessar-button" mat-flat-button (click)="openWhatsApp()">
      falar com vendedor
      <img src="assets/icons/whatsapp.png" alt="WhatsApp" class="whatsapp-icon" />
    </button>
  </div>

  <app-menu></app-menu>
</main>