.anuncio-container {
  padding-bottom: 90px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

.anuncio-image-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Ajuste conforme necessário */
  background-color: #e2e2e2;
  overflow: hidden;
  border-bottom-right-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
}

.anuncio-image-skeleton::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(224, 224, 224, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(224, 224, 224, 0) 100%
  );
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.cc-ads-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cc-anuncio-image-container {
  width: 100%;
  position: relative;
  padding-top: 100%; /* Mantém a proporção 1:1 para criar um quadrado */
}

.anuncio-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem preencha a área */
  margin: 0;
  padding: 0;
  border-bottom-right-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
  display: none;
}

.anuncio-image.loaded {
  display: block;
}

.back-button {
  background: none;
  border: 1px solid;
  border-radius: 520%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;
  z-index: 10;
}

.anuncio-card {
  padding: 0 20px 0 20px;
}

.anuncio-title {
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
  line-height: 1.1;
  word-break: break-all;
  hyphens: auto;
}

.anuncio-price {
  font-size: 1.2rem;
  color: var(--ccOrange);
  font-weight: bold;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  line-height: 1.2rem;
  padding-bottom: 0.9375rem;
  margin: 1.25rem 0 0.9375rem 0;
  border-bottom: 0.0625rem solid var(--ccOrange);
}

.anuncio-seller {
  color: var(--ccBlack);
  font-size: 0.875rem;
  font-weight: 400;
}

.anuncio-title-description {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 500;
  margin: 0 0 0.75rem 0;
}

.anuncio-title-description span {
  font-weight: 400;
}

.anuncio-description {
  font-size: 0.9em;
  line-height: 1.5;
  margin: 0;
}

.acessar-button {
  margin-top: 1em;
}

.whatsapp-icon {
  width: 25px;
  height: auto;
  margin-left: 5px;
  vertical-align: top;
}
