<main class="anuncio-container">

  <div class="header" style="position: relative;">
    <button class="back-button fixed" aria-label="Voltar" [routerLink]="'/home'">
      <mat-icon>arrow_back</mat-icon>
      <div class="spacer"></div>
      <div class="spacer"></div>
    </button>
    <div class="cc-anuncio-image-container">
      <div class="anuncio-image-skeleton"></div>
      <img
        src="{{ ads?.fileUrl }}"
        alt="{{ ads?.title }}"
        class="anuncio-image"
        (load)="onImageLoad($event)"
      />
    </div>
  </div>

  <div *ngIf="isLoading" class="cc-ads-loader">
    <p>carregando detalhes do anúncio...</p>
    <mat-spinner class="cc-spinner"></mat-spinner>
  </div>

  <div *ngIf="!isLoading" class="anuncio-card">
    <h2 class="anuncio-title">
      {{ ads?.title }}
    </h2>
    <h2 class="anuncio-price">
      {{ formatPrice(ads?.price || 0) }}
      <span class="anuncio-seller"
        >atualizado {{ ads?.updateAt | date : "dd/MM/yyyy" }}</span
      >
    </h2>
    <h3 class="anuncio-title-description">
      vendedor: <span>{{ user?.name }}</span>
    </h3>
    <h3 class="anuncio-title-description">descrição</h3>
    <p class="anuncio-description">
      {{ ads?.description }}
    </p>

    <button
      class="cc-secondary-button acessar-button"
      mat-flat-button
      (click)="openWhatsApp()"
    >
      falar com vendedor
      <img
        src="assets/icons/whatsapp.png"
        alt="WhatsApp"
        class="whatsapp-icon"
      />
    </button>
  </div>

  <app-menu></app-menu>
</main>
